.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    padding: 5px;
}
.logo-img{
    width:60px;
    height: 60px;
}
.nav-container>ul{
    display: flex;
}
.nav-container>ul>li{
    list-style-type: none;
    padding: 10px;
    font-size: 18px;
}
.res-img{
    width:260px;
    height: 200px;
    padding-left: 20px;
    padding-top: 20px;
    border-radius: 10px;
}
.res-card{
   border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    margin: 16px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.tittle{
    margin: auto;
    justify-content: center;
    display: flex;
}
.rating{
    margin: auto;
    padding: 5px;
}
.five-star-img{
    width:15px;
    height: 15px;
    margin: auto;
    margin-top: 10px;
}
.time{
    font-size: 16px;
    font-weight: bold;
    margin-left: 15px;
}
.cuisines{
    margin: auto;
    margin-bottom: 10px;
    padding: 5px;
}
.rest-container{
    display: flex;
    flex-wrap: wrap;
}
.rating-btn{
    margin-top: 10px;
    border-radius:10px;
    background-color: white;
    padding: 5px;
    border: 1px solid grey;
    color: black;
    cursor: pointer;
}
.del-time{
    margin-top: 10px;
    border-radius:10px;
    background-color: white;
    padding: 5px;
    border: 1px solid grey;
    color: black;
    cursor: pointer;
    margin-left: 10px;
}
.search-btn{
    margin-top: 10px;
    border-radius:10px;
    background-color: white;
    padding: 5px;
    border: 1px solid grey;
    color: black;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
}
.shimmer-container{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}
.shimmer-card{
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    margin: 16px;
    width: 300px;
    height: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    background-color: grey;
}
.loginbtn{
    cursor: pointer;
}
.menu-container {
    max-width: 800px;
    margin: 20px auto;
    font-family: 'Arial', sans-serif;
    /* border: 1px solid #ddd; */
    padding: 10px;
  }
  
  .accordion {
    background-color: #eee;
    color: #333;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: 1px solid #ccc;
    outline: none;
    transition: background-color 0.3s;
  }
  
  .accordion.active,
  .accordion:hover {
    background-color: #ddd;
  }
  
  .panel {
    display: none;
    padding: 0 18px;
    background-color: white;
    overflow: hidden;
    
  }
  
  .panel.show {
    display: block;
  }
  
  .menu-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .menu-details {
    flex: 1;
  }
  
  .menu-image {
    max-width: 100px;
    max-height: 100px;
  }
  